  ul{
        padding: 0;
        list-style: none;
        background: black;/*#f2f2f2;*/
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
    ul li a{
        display: block;
        padding: 8px 25px;
        color: white; /*#333;*/ 
        text-decoration: none;
    }
    ul li a:hover{
        color: white; /*#fff;*/
        background:  #00b4ff;/*#939393;*/
    }
    ul li ul.dropdown{
        min-width: 100%; /* Set width of the dropdown */
        background: #00b4ff; /*#f2f2f2;*/
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block;/* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }



.boxed {
 background-color:#FFDFDD;
  border: 5px solid blue ;
 height:270px;
 width:350px;
 
/ *padding-right:900px;*/
}






.button5 {
background-color:  #00b4ff;/*blue*/ /* #f44336Red*/
border: none;
color: white;
text-align: center;
text-decoration: none;
width:600px;
/*display: inline-block;*/
font-size: 60px;

cursor: pointer;

}

.bg { background-image:url('images/b1.jpg'); 
       background-size:cover; }
  
h1 {font-size:px; }



.welcome {
 background-color:#FBF6D9;

 height:300px;
 width:100%;

}





  @font-face {
font-family: free;
    src:url('Font/FreebooterScript/f.ttf');
}

.welcome {
    font-family: free;
   font-size:100px;
}

.welcome2 {
 background-color:#BDEDFF;
 font-family: free;
   font-size:100px;

 height:300px;
 width:100%;

}

.welcome3 {
 background-color:#FFDFDD;
 font-family: free;
   font-size:100px;

 height:500px;
 width:100%;

}



.button56 {
background-color:#f44336;
border: none;
color: white;
text-align: center;
text-decoration: none;
width:600px;
/*display: inline-block;*/
font-size: 60px;

cursor: pointer;

}


.button57 {
background-color:#4CAF50;
border: none;
color: white;
text-align: center;
text-decoration: none;
width:600px;
/*display: inline-block;*/
font-size: 60px;

cursor: pointer;

}



.welcome4 {
 background-color:#FFF5EE;
 font-family: free;
   font-size:100px;

 height:180px;
 width:100%;

}